<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="layout/header :: body">...</div>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h2>Developer skill</h2>
                <br/>
                <form class="form-horizontal" th:action="@{/developers/{id}/skills(id=${developer.id})}" method="post"
                      enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" disabled="disabled" title="name"
                                       th:value="${developer.firstName + ' ' + developer.lastName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" disabled="disabled" title="email"
                                       th:value="${developer.email}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Skills</label>
                            <div class="col-lg-10">
                                <div th:each="skill : ${developer.skills}">
                                    <a th:href="@{'/developers/' + ${developer.id} + '/skills/' + ${skill.id}}"
                                       onclick="return confirm('Are you sure you want to delete this item?');">remove</a>
                                    -
                                    <span th:text="${skill.label}">Skill</span> - <span th:text="${skill.description}">Description</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 col-lg-offset-2">
                                <div class="input-group">
                                    <select name="skillId" class="form-control" title="skills">
                                        <option th:each="skill : ${skills}"
                                                th:value="${skill.id}"
                                                th:text="${skill.description}">Skill
                                        </option>
                                    </select>
                                    <span class="input-group-btn">
									<button type="submit" class="btn btn-default">Add skill</button>
								</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
