<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Developers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            th:src="@{webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

</head>
<body>
<div th:insert="util/header :: body">...</div>
<div class="container">
    <div class="page-header" id="banner">
        <!--/*@thymesVar id="editedDeveloper" type="com.szabodev.demo.dto.DeveloperDTO"*/-->
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-6">

                <h3 th:if="${editedDeveloper.id} == null" th:text="#{addDeveloper}">Add a developer</h3>
                <h3 th:if="${editedDeveloper.id} != null" th:text="#{updateDeveloper}">Update developer</h3>
                <br/>
                <form th:action="@{/developers}" method="post" enctype="multipart/form-data" class="form-horizontal"
                      th:object="${editedDeveloper}">
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <p th:text="#{correctErrors}">Please correct errors</p>
                        <br/>
                        <div>
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">
                                    Error detail
                                </li>
                            </ul>
                        </div>
                    </div>
                    <fieldset>
                        <input type="hidden" id="id" name="id" th:field="*{id}"/>
                        <!--<input type="hidden" id="skills" name="id" th:field="*{skills}"/>-->
                        <div class="form-group" th:class="${#fields.hasErrors('firstName')}
                                ? 'form-group has-error' : 'form-group'">
                            <label class="col-lg-3 control-label" th:text="#{firstName}">First name</label>
                            <div class="col-lg-9">
                                <input id="firstName" type="text" class="form-control" name="firstName"
                                       title="firstName"
                                       th:field="*{firstName}"/>
                            </div>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('lastName')}
                                ? 'form-group has-error' : 'form-group'">
                            <label class="col-lg-3 control-label" th:text="#{lastName}">Last name</label>
                            <div class="col-lg-9">
                                <input id="lastName" type="text" class="form-control" name="lastName" title="lastName"
                                       th:field="*{lastName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" th:text="#{comment}">Comment</label>
                            <div class="col-lg-9">
                                <input id="comment" type="text" class="form-control" name="comment" title="comment"
                                       th:field="*{developerDetail.comment}"/>
                            </div>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('email')}
                                ? 'form-group has-error' : 'form-group'">
                            <label class="col-lg-3 control-label" th:text="#{email}">Email</label>
                            <div class="col-lg-9">
                                <input id="email" type="text" class="form-control" name="email" title="email"
                                       th:field="*{email}"/>
                            </div>
                        </div>
                        <!--/*@thymesVar id="developerLevelValues" type="java.util.List"*/-->
                        <div class="form-group">
                            <label class="col-lg-3 control-label" th:text="#{developerLevel}">Developer Level</label>
                            <div class="col-lg-9">
                                <select title="developerLevel" class="form-control" th:field="*{developerLevel}">
                                    <option th:each="developerLevel : ${developerLevelValues}"
                                            th:value="${developerLevel}"
                                            th:text="#{${developerLevel}}">
                                    </option>
                                </select>
                                <select title="developerLevel" class="form-control" th:remove="all">
                                    <option>Easy</option>
                                    <option>Medium</option>
                                    <option>Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div th:if="*{id== null}" class="col-lg-12 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary" name="button" th:text="#{create}">Create
                                </button>
                            </div>
                            <div th:if="*{id!= null}" class="col-lg-12 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary" name="button" th:text="#{update}">Update
                                </button>
                                <a th:href="@{/developers}" id="btn-cook" class="btn btn-warning"
                                   role="button" th:text="#{cancel}">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h3 th:text="#{developersMenu}">Developers</h3>
                <br/>
                <!--/*@thymesVar id="developerFilter" type="com.szabodev.demo.dao.DeveloperFilter"*/-->
                <form th:action="@{/developers}" method="get" enctype="multipart/form-data" class="form-horizontal"
                      th:object="${developerFilter}">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" th:text="#{firstName}">First name</label>
                            <div class="col-lg-9">
                                <input id="firstNameFilter" type="text" class="form-control" name="firstNameFilter"
                                       title="firstNameFilter"
                                       th:field="*{firstName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" th:text="#{lastName}">Last name</label>
                            <div class="col-lg-9">
                                <input id="lastNameFilter" type="text" class="form-control" name="lastNameFilter"
                                       title="lastNameFilter"
                                       th:field="*{lastName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary">Filter
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th th:text="#{name}">Name</th>
                        <th th:text="#{email}">Email</th>
                        <th th:text="#{developerLevel}">Developer level</th>
                        <th th:text="#{skillsMenu}">Skills</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="developer" type="com.szabodev.demo.dto.DeveloperDTO"*/-->
                    <!--/*@thymesVar id="developers" type="java.util.List"*/-->
                    <tr th:each="developer : ${developers}">
                        <td th:text="${developer.firstName + ' ' + developer.lastName}"></td>
                        <td th:text="${developer.email}"></td>
                        <td th:text="#{${developer.developerLevel}}"></td>
                        <!--/*@thymesVar id="skill" type="com.szabodev.demo.model.Skill"*/-->
                        <td>
                            <span th:each="skill,iterStat : ${developer.skills}">
                                <span th:text="${skill.label}">Skill</span><th:block
                                    th:if="${!iterStat.last}">,</th:block>
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-success" th:href="@{/developers/{id}(id=${developer.id})}"
                               th:text="#{addSkills}">Add skills</a>
                            <a class="btn btn-primary" th:href="@{'/developers/' + ${developer.id} + '/edit'}"
                               th:text="#{edit}">Edit</a>
                            <a class="btn btn-danger" th:href="@{'/developers/' + ${developer.id} + '/delete'}"
                               th:text="#{delete}"
                               onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</body>
</html>
