<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Developer skills</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            th:src="@{webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

</head>
<body>
<div th:insert="util/header :: body">...</div>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title" th:text="#{skillsMenu}">Skills</h2>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th th:text="#{skillName}">Skill name</th>
                                <th th:text="#{skillDesc}">Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--/*@thymesVar id="skills" type="java.util.List"*/-->
                            <!--/*@thymesVar id="skill" type="com.szabodev.demo.dto.SkillDTO"*/-->
                            <tr th:each="skill : ${skills}">
                                <td th:text="${skill.label}">Skill</td>
                                <td th:text="${skill.description}">Description</td>
                                <td>
                                    <a class="btn btn-danger" th:href="@{'/skills/' + ${skill.id} + '/delete'}"
                                       onclick="return confirm('Are you sure you want to delete this item?');"
                                       th:text="#{delete}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-6">

                <h3 th:text="#{addOneSkill}">Add a skill</h3>
                <br/>
                <!--/*@thymesVar id="newSkill" type="com.szabodev.demo.dto.SkillDTO"*/-->
                <form th:action="@{/skills}" method="post" enctype="multipart/form-data" class="form-horizontal"
                      th:object="${newSkill}">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" th:text="#{skillName}">Skill name</label>
                            <div class="col-lg-9">
                                <input id="firstName" type="text" class="form-control" name="firstName"
                                       title="firstName"
                                       th:field="*{label}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" th:text="#{skillDesc}">Description</label>
                            <div class="col-lg-9">
                                <input id="lastName" type="text" class="form-control" name="lastName" title="lastName"
                                       th:field="*{description}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary" name="button" th:text="#{create}">Create
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>