<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Header</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/external/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css">
    <script src="/external/jquery/jquery-3.2.1.min.js"></script>
    <script src="/external/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">DEMO</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':''}">
                <a th:href="@{/home}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/developers' ? 'active':''}">
                <a th:href="@{/developers}"><i class="fa fa-user" aria-hidden="true"></i> Developers</a>
            </li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/skills' ? 'active':''}">
                <a th:href="@{/skills}"><i class="fa fa-rocket" aria-hidden="true"></i> Skills</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAuthenticated()"
                th:classappend="${#httpServletRequest.getRequestURI() == '/mypage' ? 'active':''}">
                <a th:href="@{/mypage}"><i class="fa fa-key" aria-hidden="true"></i> My page</a></li>
            <li sec:authorize="isAnonymous()"
                th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}">
                <a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="javascript: document.logoutForm.submit()">
                    <span class="glyphicon glyphicon-log-out"></span>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>

</body>
</html>