<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">DEMO</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':''}"><a th:href="@{/home}">Home</a>
            </li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/developers' ? 'active':''}"><a
                    th:href="@{/developers}">Developers</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"><a
                    th:href="@{/login}"><span
                    class="glyphicon glyphicon-log-in"></span>Login</a>
            </li>
            <li><a href="javascript: document.logoutForm.submit()"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>

</body>
</html>