<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/external/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css">
    <script src="/external/jquery/jquery-3.2.1.min.js"></script>
    <script src="/external/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="layout/header :: body">...</div>
<div class="container">

    <div th:if="${param.error}">
        <div id="login-alert" class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Invalid username and password.
        </div>
    </div>

    <form id="loginform" class="form-signin" role="form" th:action="@{/login}" method="post">

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="login-username" type="text" class="form-control" name="username" value=""
                   placeholder="username or email">
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="login-password" type="password" class="form-control" name="password"
                   placeholder="password">
        </div>

        <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
                <input id="btn-login" class="btn btn-success" type="submit" value="Sign In"/>
            </div>

        </div>
    </form>

</div>

</body>
</html>