<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/external/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css">
    <script src="/external/jquery/jquery-3.2.1.min.js"></script>
    <script src="/external/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="layout/header :: body">...</div>
<div class="container">

    <div class="container">
        <h2>Something went wrong!</h2>
        <h3>Exception details: </h3>
        <br/>
        <div class="alert-danger row" th:if="${exception}" th:fragment="errorTemplate"
             style="height: 200px; overflow-x: scroll;">
            <p th:text="${exception.message}"></p>
            <div th:each="stack,iterStat : ${exception.getStackTrace()}" th:text="${stack}"
                 th:class="${iterStat.index} != 0 ? 'small col-md-offset-1'">
            </div>
        </div>
        <br/>
        <div class="alert-danger row" th:if="${exception.cause}" style="height: 200px; overflow-x: scroll;">
            <p th:text="${exception.cause.message}"></p>
            <div th:each="stack,iterStat : ${exception.cause.getStackTrace()}" th:text="${stack}"
                 th:class="${iterStat.index} != 0 ? 'small col-md-offset-1'">
            </div>
        </div>
        <br/>
        <div class="alert-danger row" th:if="${exception.cause.cause}" style="height: 200px; overflow-x: scroll;">
            <p th:text="${exception.cause.cause.message}"></p>
            <div th:each="stack,iterStat : ${exception.cause.cause.getStackTrace()}" th:text="${stack}"
                 th:class="${iterStat.index} != 0 ? 'small col-md-offset-1'">
            </div>
        </div>
    </div>

</div>

</body>
</html>