<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

</head>
<body>

<div th:insert="util/header :: body">...</div>
<div class="container">

    <div style="margin: 0 auto; margin-top: 50px; width: 40%">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div th:if="${param.error}">
            <div id="login-alert" class="alert alert-danger alert-dismissable row col-lg-12 text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <span th:text="#{loginAlert}">Login failed!</span>
            </div>
        </div>

        <form id="loginform" role="form" th:action="@{/login}" method="post">
            <div style="margin-bottom: 25px" class="input-group row col-lg-12 text-center">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login-username" type="text" class="form-control" name="username" value="" title="username">
            </div>
            <div style="margin-bottom: 25px" class="input-group row col-lg-12 text-center">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="login-password" type="password" class="form-control" name="password" title="password">
            </div>
            <div class="form-group row col-lg-12 text-center">
                <div>
                    <input id="btn-login" class="btn btn-success" type="submit" value="Login" th:value="#{loginMenu}"/>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>